body {
  background-color: rgb(218, 218, 218);
}

header {
  width: 1200px;
  margin: 0 auto;
}

.last-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
}

.last-container .modal {
  line-height: 3rem;
  padding: 5vh;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border: 2px solid #0fbcf9;
  border-radius: 1em;
}
