@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

@font-face {
  font-family: "Rubik";
  src: url("../components/fonts/static/Rubik-Regular.ttf"),
    url("../components/fonts/static/Rubik-Medium.ttf"),
    url("../components/fonts/Rubik-Italic-VariableFont_wght.ttf"),
    url("../components/fonts/Rubik-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: none;
}

body {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
}

a:visited {
  text-decoration: none;
}

/* ------------------- Header ------------------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Lalezar";
  font-size: 3rem;
  color: #171d1c;
}

#title {
  flex-direction: column;
  line-height: 10px;
}

header li {
  display: inline-block;
  margin: 20px;
}

header h1 a,
header h1 a:visited {
  text-decoration: none;
  color: #171d1c;
}
.login-btn,
.login-btn:visited {
  border: solid 2px #0fbcf9;
  padding: 15px;
  border-radius: 1rem;
  transition: all 0.5s ease;
  color: #171d1c;
}

header a:hover,
.login-btn:hover {
  color: #0fbcf9;
}

.login-btn:hover {
  transform: scale(1.05);
}

/* ------------------- Header ------------------- */

/* ------------------- Hero ------------------- */
.hero {
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-content: center;
  height: 70vh;
}

h2 {
  font-size: 3rem;
  line-height: 2.5rem;
}

main aside {
  max-width: 50%;
}

main img {
  max-width: 150%;
  min-width: 400px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  50% {
    transform: translateY(30px);
  }
}

main p {
  font-size: 150%;
  margin-bottom: 8%;
}

.main-btn {
  padding: 15px;
  border: solid #0fbcf9 2px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #0fbcf9;
  margin-right: 20px;
}

#cadastro-btn {
  background-color: #0fbcf9;
  color: #fff;
}

#cadastro-btn:hover {
  background-color: #064b64;
  border: solid #064b64 2px;
}

/* ------------------- Hero ------------------- */

/* ------------------- Parcerias ------------------- */
.parcerias-article {
  background: #dbdbdb;
  width: 100%;
  padding: 5% 0;
  display: block;
  align-items: center;
}

.parcerias-article {
  line-height: 80px;
}

.parcerias-article p {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 50%;
}

.parcerias-article ul {
  margin: 0 auto;
  align-content: center;
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 50%;
}

.parcerias-article li {
  display: inline-block;
}

.parcerias-article img {
  width: 50%;
}

/* ------------------- Parcerias ------------------- */

/* ------------------- Footer ------------------- */

footer {
  background: #000;
  padding: 15px;
  height: auto;
  color: #fff;
}

footer .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-content: center;
  padding-top: 20px;
  bottom: 15px;
}

footer .social-icons {
  align-content: flex-end;
}

footer li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 0;
}

footer .fa-brands {
  transform: scale(2.5);
  margin-right: 30px;
  margin-left: 10px;
}

footer a {
  color: rgb(255, 255, 255);
}

footer a li:hover {
  text-decoration: underline;
  color: rgb(220, 216, 216);
}
